.NAVPAD
{
    padding-left: 20px;
}
.box-margin
{
    margin-bottom: 50px;
}
.box-margin2
{
    margin-top: -50px;
}

.coustom-1
{
    background-color: #F11b65;
}
.coustom-2
{
    background-color: #fa70a1;
}
